* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
}

#cocktail-container{
    border: 2px solid white;
    color: white;
    background-color: #ffaebc;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 50%;
    margin: 10px;
    text-align: center;

}

#cocktail-title {
    font-style: italic;
}


#language-container{
    border: 2px solid white;
    color: white;
    background-color: #ffaebc;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 50%;
    margin: 10px;
    text-align: center;
    align-items: ;

}

#language-title {
    font-style: italic;
}