:root {
    --Background: #ece2c9;
    --CocktailContainer: #e19274;
    --FontColor: #39312f;
    --Green: #a8ce91;
    --Blue: #88b5b8;
}


.jumbotron {
    text-align: center;
    background-color:cadetblue;
    font-size: 30px;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { background-color: var(--Background);
}

header h1,h2,h3 {
    text-align: center;
    padding: 10px;
    /* font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Neonderthaw', cursive;
    font-family: 'Rock Salt', cursive; */
    font-family: 'Special Elite', cursive;
}


.caption {
    text-align: center;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-style: italic; 
    font-size: 12px;
}

#output-container {
    width: 100%;
    height: 30%;
    position: relative;
    bottom: 0;
    display: flex;
    margin: 0 auto
}

#side-1, #side-2 {
    width: 45%;
    height: 90%;
    margin: 2.5%;
    border: 4px solid white;
    border-radius: 25pt;
    background: var(--Blue);
    text-align: center;

}

.langauge-title-container {
    display: flex;
    justify-content: center;
}
.cocktail-recipe-container {
    margin-top: 5%;
}
.cocktail-description-container {
    margin-top: 10%;
}
.cocktail-ingredient {
    margin-top: 1%;
    list-style: none;
}

#user-input-container {
    display: flex;
    border: 4px solid white;
    border-radius: 45pt;
    color: white;
    background-color: var(--CocktailContainer);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 70%;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
}

#language-options {
    color:var(--FontColor);
    min-width: 160px;
    padding: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

#user-submit-btn {
    border-radius: 10rem;
    width: 10vw; 
    margin: 0 auto;  
}

#user-submit-btn:hover {
    transform: scale(1.1);
}

#cocktail-title, #language-title{
    font-style: italic;
}

.footer img {
    position: relative;
    width: 100%;
}

