.jumbotron {
    text-align: center;
    background-color:cadetblue;
    font-size: 30px;
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#output-container {
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    background: rgb(192, 180, 180);
    display: flex;
}
#side-1{
    width: 45%;
    height: 90%;
    margin: 2.5%;

}
#side-2 {
    width: 45%;
    height: 90%;
    margin: 2.5%;
}
.langauge-title-container {
    display: flex;
    justify-content: center;
}
.cocktail-recipe-container {
    margin-top: 5%;
}
.cocktail-description-container {
    margin-top: 10%;
}
.cocktail-ingredient {
    margin-top: 1%;
    list-style: none;
}

#user-input-container {
    display: flex;
}

#cocktail-container{
    border: 2px solid white;
    color: white;
    background-color: #ffaebc;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 50%;
    margin: 10px;
    text-align: center;

}

#cocktail-title {
    font-style: italic;
}


#language-container{
    border: 2px solid white;
    color: white;
    background-color: #ffaebc;
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 50%;
    margin: 10px;
    text-align: center;

}

#language-title {
    font-style: italic;

}